<div *ngIf="checkoutBooks.length == 0">
    <h3 class="text-info">Your Cart is empty</h3>
</div>


<div *ngIf="checkoutBooks.length > 0" class="col-sm-6">
    <div class="container">
        <div class="well">
            <h3>Cart</h3>
            <div *ngFor="let book of checkoutBooks">
                <div class="list-group-item">
                    <div class="row-content">
                        <strong> {{book.name}} </strong>
                        <p class="list-group-item-text"><em>{{book.author.join(", ")}}</em></p>
                    </div>
                    <div class="list-group-separator"></div>
                </div>
            </div>
            <div style="text-align: right">
                <button href="javascript:void(0)" class="btn btn-success" (click)="checkout()">Checkout</button>
            </div>
        </div>
    </div>

</div>